#mynetwork {
    width: 600px;
    height: 600px;
    border: 1px solid lightgray;
}

#mynetwork2 {
    width: 600px;
    height: 600px;
    border: 1px solid lightgray;
}
#mynetwork3 {
    width: 600px;
    height: 600px;
    border: 1px solid lightgray;
}
canvas {
    border: 1px solid black;
}
* {
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
